coverage
djangorestframework
django==3.2.*
djangorestframework-simplejwt
python-decouple
django-3-jet
django-cors-headers
Pillow
django-rest-auth
django-rest-auth[with_social]
djangorestframework-jwt
jdatetime
psycopg2
markdown
django-redis
user-agents
celery
redis
django_extensions
gunicorn
